<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
    <h1><%=Day%></h1>
    <form action="/" method="post">
        <label class="is-size-5">Enter username</label>
        <input class="input" type="text" placeholder="Text input" name="username" autocomplete="off">
        <label class="is-size-5">Enter Comment</label>
        <textarea class="textarea" placeholder="e.g. Hello world" name="comment" autocomplete="off"></textarea>
        <button class="button">Add comment</button>

    </form>

    
</body>
</html>