<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
    <div class="card">
        <header class="card-header">
            <div class="card-header-title">
                <p><strong><%=comm.username %>'s Comment</strong></p>
            
            <br>

            </div>
        </header>
    <div class="card-content">
        <div class="content">
            <p><strong>ID : <%=comm.id %></strong></p>

           <p class="title">"<%=comm.comment%>"
           </p>

        </div>

    </div>
    <p class="card-footer-item">
        <span>
          Back To Homepage : <a href="/"> Back To Home</a>
        </span>
        <span>
            Edit : <a href="/<%=comm.id %>/edit"> edit</a>
          </span>
      </p>
    </footer>
  

    </div>
    
</body>
</html>